/* STYLES FOR SITE 1 BY ARMEL */

@import url('https://fonts.googleapis.com/css?family=Exo+2');

html, body {
    font-family: 'Exo 2', sans-serif;
}

body {
    background-image: url("../IMAGES/hexbg2.jpg");
    background-repeat: repeat;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none; 
}

.apDropStyle {
    background-color: aliceblue;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.apDropItem:hover {
    background-color: darkslategrey;
    color: aliceblue;
}

.apScrollText {
    overflow-y: auto;
}

.apblanknav {
    height: 4vh;
}

.card {
    box-shadow: 10px 10px 9px 1px #343636;
}

.ap_row_space {
    margin-top: 7vh;
}