/* STYLES FOR FINAL SITE BY ARMEL */

/* Everything re fonts and type */
@import url("typography.css");

/* Everthing re layout and grid */
@import url("layout.css");

/* Everthing re animation */
@import url("animation.css");

body, html {
    background-image: url(../ASSETS/BG/dark-grey-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-outline-dark {
    border-color: transparent;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    font-size: 2em;
}

.navbar-toggler:focus {
    outline-width: 0px;
}

.naviconknives {
    width: 130px;
    height: 130px;
    background-image: url(../ASSETS/NAVICONS/knivesicon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.naviconsharpeners {
    width: 130px;
    height: 130px;
    background-image: url(../ASSETS/NAVICONS/sharpenersicon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.naviconlubricants {
    width: 130px;
    height: 130px;
    background-image: url(../ASSETS/NAVICONS/lubricantsicon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.naviconblog {
    width: 130px;
    height: 130px;
    background-image: url(../ASSETS/NAVICONS/blogicon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.naviconcontact {
    width: 130px;
    height: 130px;
    background-image: url(../ASSETS/NAVICONS/contacticon.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}


.SMnaviconknives {
    width: 70px;
    height: 70px;
    background-image: url(../ASSETS/NAVICONS/knivesicon_white.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(-83deg);
}

.SMnaviconsharpeners {
    width: 70px;
    height: 70px;
    background-image: url(../ASSETS/NAVICONS/sharpenersicon_white.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(-105deg);
}

.SMnaviconlubricants {
    width: 70px;
    height: 70px;
    background-image: url(../ASSETS/NAVICONS/lubricantsicon_white.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(-97deg);
}

.SMnaviconblog {
    width: 70px;
    height: 70px;
    background-image: url(../ASSETS/NAVICONS/blogicon_white.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(-70deg);
}

.SMnaviconcontact {
    width: 70px;
    height: 70px;
    background-image: url(../ASSETS/NAVICONS/contacticon_white.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: rotate(-86deg);
}

.shoppingIcon {
    height: 50px;
    width: 50px;
    background-image: url(../ASSETS/NAVICONS/shoppingbag.png);
    background-size: contain;    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
}

#jumboText {
    background-color: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(10px); */
}

#mainHome {
    background-image: url(../ASSETS/BG/homemainbg2crop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.apmodBtn {
    background-color: transparent;
}

.btn-outline-dark {
    border-color: white;
}

.dim {
    background-color: rgba(0, 0, 0, 0.85);
    
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }


.card {
    background-color: transparent;
    border-color: transparent;
}

.btn, .btn-primary, .btn-lg, .btn-block {
    background-color: darkgray;
    border-color: transparent;
}

.btn:hover, .btn-primary:hover, .btn-lg:hover, .btn-block:hover {
    background-color: darkgray;
    border-color: transparent;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #515151;
}


.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #515151;
}

@media (min-width: 576px) { 
    #mainHome {
        background-image: url(../ASSETS/BG/homemainbg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
 }

@media (min-width: 768px) { 
    #mainHome {
        background-image: url(../ASSETS/BG/homemainbg.png);
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    #jumboText {
        background-color: transparent;        
    }
}

@media (min-width: 992px) { 
    #mainHome {
        background-image: url(../ASSETS/BG/homemainbg.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
        
}