/* GENERAL STYLES FOR AMONGER BY ARMEL */


/* Everything re fonts and type */
@import url("typography.css");

/* Everthing re layout and grid */
@import url("layout.css");


body {
    background-color: white;
}

button:focus {
    outline: 5px auto transparent;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 5px;
}

.btn-secondary {
    background-color: #f421f4;
}

/* .apmodPlayBtn {
    padding: 0.1rem;
    
}

.apmodPauseBtn {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    
} */

.apmodBtn {
    background-color: white;
}

.btn-outline-dark {
    border-color: #c7c8c9;
}
    
.jumbotron {
    background-color: transparent;
}

.apTeamImg {
    width: 100vw;
    height: 47.5vw;
    max-width: 800px;
    max-height: 380px;
}

.apMediaImg {
    max-width: 444px;
    max-height: 331px;
    min-width: auto;
    min-height: 64px;

    height: 64px;
    width: auto;
}

.apAvatar {
    width: 64px;
    height: 64px;
}


@media (min-width: 576px) { 
    .apMediaImg {
        height: 80px;
        width: auto;
    }
 }

@media (min-width: 768px) { 
    .apMediaImg {
        height: 100px;
        width: auto;
    }
 }

@media (min-width: 992px) { 
    .apMediaImg {
        height: 200px;
        width: auto;
    }
 }

@media (min-width: 1200px) { 
    .apMediaImg {
        height: 331px;
        width: auto;
    }
 }